.next-days {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    color: var(--fontcolor)
}

.next-day {
    margin: 2.5% 5%;
    flex-basis: 23%;
    text-align: center;
}

.next-day>* {
    margin-top: 1vh;
}

.next-day .date {
    font-size: 2.4em;
}

.next-day img {
    width: 90%;
}

.next-day .temp {
    font-size: 2.8em;
}

.next-day .temp .day {
    color: #b96e51;
}

.next-day .temp .night {
    color: #587cdf;
}

@media screen and (max-width: 640px) {
    .next-days {
        height: 220px;
        padding-right: 10px;
        justify-content: space-around;
        /* align-content: center;  */
        overflow: auto;
    }

    .next-day {
        margin: 2.5% 0;
        flex-basis: 33%;
    }

    .next-day .date {
        font-size: 1.5em;
        flex-basis: 0;
    }

    .next-day img {
        width: 65%;
    }

    .next-day .temp {
        font-size: 2em;
    }
}