.next-days {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--fontcolor)
}

.next-day {
    margin: 2.5% 5%;
    flex-basis: 23%;
    text-align: center;
}

.next-day>* {
    margin-top: 1vh;
}

.next-day .date {
    font-size: 2.4em;
}

.next-day img {
    width: 90%;
}

.next-day .temp {
    font-size: 2.8em;
}

.next-day .temp .day {
    color: #f7f303;
}

.next-day .temp .night {
    color: rgb(86, 116, 207);
}