.look {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: var(--radius);
}

.prompt {
    height: 5vh;
    width: 30vw;
    text-align: center;
    font-size: 1.3em;
    border-radius: var(--radius);
}

.fa-search {
    padding: 10px;
    font-size: 2.2em;
    color: #333;
    cursor: pointer;
}

.fa-search:hover {
    transform: scale(1.2)
}