* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', Arial, sans-serif;
}

:root {
    --radius: 10px;
    --section: rgba(50, 50, 50, 1);
    --fontcolor: #eee;
}

.wrap {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vh 3vw;
    padding: 5vh;
    background: linear-gradient(135deg, rgba(208, 228, 247, 1) 0%, rgba(115, 177, 231, 1) 24%, rgba(10, 119, 213, 1) 50%, rgba(83, 159, 225, 1) 79%, rgba(135, 188, 234, 1) 100%);
    background-repeat: no-repeat
}

.wrapleft {
    grid-column: 1 / span 1;
}

.wrapright {
    grid-column: 2 / span 1;
}

.wrapleft>*,
.wrapright>* {
    border: 3px solid black;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.search {
    height: 80px;
    margin-bottom: 10px;
    background-color: var(--section);
    border-radius: var(--radius);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.today {
    min-width: 500px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--section);
    border-radius: var(--radius);
}

.next-days {
    min-width: 460px;
    height: auto;
    background-color: var(--section);
    border-radius: var(--radius);
}

.cookie-confirmation {
    background-color: green;
    width: 70%;
    height: 100px;
    position: fixed;
    top: 85%;
    left: 15%;

    text-align: center;
}

::-webkit-scrollbar {
    position: relative;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    border: solid 3px transparent;
}

.cookie-confirmation {
    border: 3px solid black;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.cookies-p {
    font-size: 1.4em;
    display: inline;
    padding-right: 2vw;
}

@media screen and (max-width: 640px) {

    html {
        background: linear-gradient(135deg, rgba(208, 228, 247, 1) 0%, rgba(115, 177, 231, 1) 24%, rgba(10, 119, 213, 1) 50%, rgba(83, 159, 225, 1) 79%, rgba(135, 188, 234, 1) 100%);
    }

    .wrap {
        display: initial;
        padding: 10px;
        background: none;
    }

    .search {
        min-width: 0;
        width: 98%;
        margin: 5px;
    }

    .next-days {
        min-width: 0;
        width: 98%;
        height: 160px;
        padding-left: 10px;
        padding-right: 60px;
        margin: 5px;
        overflow: scroll;
    }

    .today {
        min-width: 0;
        width: 98%;
        margin: 5px;
        overflow-y: auto;
    }

    #cookiesAllowed {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 10px 16px 10px;
        font-size: 1.4em;
    }
}