/* Header */

.today {
    padding: 20px;
}

.today-header {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 70% 30%;
    margin: 0;
    color: var(--fontcolor)
}

.city-temp {
    position: relative;
    top: 8%
}

.city {
    font-size: 2.4em;
}

.temp-now {
    font-size: 5.8em;
    font-weight: bold;
}

.today-header .fa-cloud-moon {
    font-size: 8.4em;
}

.sun-time {
    grid-area: 2 / 2 / span 1 / span 1;
    font-size: 1.8em;
    font-weight: bold;
}

.sun-time p {
    position: relative;
    top: 30%;
    transform: translateY(-50%)
}

.weather-ico-now {
    text-align: center;
}

.today-header img {
    width: 80px;
}

/* Next Houres */

.next-hour-wrapper {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.next-hour-wrapper > .line {
    height: 2px;
    width: 100%;
    margin: auto;
    background-color: white;
}

.next-hour {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: var(--fontcolor)
}

.next-hour .time {
    margin: auto 0;
    font-size: 2.6em;
}

.next-hour .temp {
    margin: auto 0;
    font-size: 3.8em;
}

.next-hour img {
    width: 70px;
}