/* Header */

.today-header {
    flex: 2;
    display: grid;
    position: relative;
    grid-template-rows: 40% 60%;
    grid-template-columns: 35% 35% 30%;
    margin: 0;
    color: var(--fontcolor)
}

.city-temp {
    position: relative;
    top: 8%
}

.city {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 2.4em;
}

.temp-now {
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: -10%;
    bottom: 15%;
}

.today-header .fa-cloud-moon {
    font-size: 8em;
}

.sun-time {
    grid-area: 2 / 3 / span 1 / span 1;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.sun-time p {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.weather-ico-now {
    text-align: center;
}

.today-header img {
    width: 80px;
}

.pollution {
    padding: 0 20px;
    grid-area: 2 / 2 / span 1 / span 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1vh;
}

.air-quality {
    height: 5vh;
    width: 100%;
    margin-top: 1vh;
    line-height: 6vh;
    font-size: 1em;
    text-align: center;
    height: 6vh;
    background-color: #b0dd10;
    border-radius: var(--radius);
    color: var(--fontcolor);
}

/* Next Houres */

.next-hour-wrapper {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
}

.next-hour-wrapper>.line {
    height: 3px;
    width: 100%;
    margin: auto;
    background-color: white;
}

.next-hour {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: var(--fontcolor)
}

.next-hour .time {
    margin: auto 0;
    font-size: 2.6em;
}

.next-hour .temp {
    margin: auto 0;
    font-size: 3.8em;
}

.next-hour img {
    width: 70px;
}

@media screen and (max-width: 640px) {
    .air-quality {
        padding: 10%;
        line-height: 1.2em;
    }

    .temp-now {
        grid-area: 2 / 1 / span 1 / span 1;
        font-size: 4em;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: -10%;
        bottom: 15%;
    }
}